.m-toast-box{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
}

.m-toast-box .m-toast-item{
    display: flex;
    height: 56px;
    width: 280px;
    border-radius: 4px;
    align-items: center;
    box-sizing: border-box;
    background-color: #FFFFFF;
    margin: 8px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.078);
}

.m-toast-box .m-toast-item .m-toast__icon{
    width: 20px;
    height: 20px;
    margin-left: 18px;
    box-sizing: border-box;
    font-size: 20px;
    background-image: url(../../assetsAdmin/icon/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
}

.m-toast-box .m-toast-item .m-toast__text{
    font-family: RobotoRegular;
    font-weight: 400;
    font-size: 14px;
    width: 200px;
    color: #1F1F1F;
    margin-left: 10px;
}

.m-toast-box .m-toast-item .m-toast__close{
    margin-left: auto;
    margin-right: 16px;
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.m-icon-canhbao{
    background-size: 1130px 1020px;
    background-position: -345px -248px;
}

.m-icon-thongtin{
    background-size: 1130px 1020px;
    background-position: -385px -247px;
}

.m-icon-thanhcong{
    background-size: 1130px 1020px;
    background-position: -555px -247px;
}

.m-icon-loi{
    background-size: 780px 670px;
    background-position: -314px -405px;
}